body {
  background-color:#F2F3F8;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.icon_flex {
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

h1 {
  font-family: 'Engagement', cursive;
  font-size: 80px;
  color: #3C54B4;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin: 0 auto; 
}

h4 {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  color: #4574b9;
  text-align: center;
  margin: 0 auto;
}

.shop {
  display: none; 
}

.icon {
  width: 70px;
  height: 70px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.witch {
  height: 200px; 
  width: 200px; 
  margin: 0 auto; 
}

h2 {
  font-family: 'Engagement', cursive;
  font-size: 48px;
  border-bottom: 1px solid #3C54B4;
  text-align: center;
}

h3 {
  font-size: 16px;
  text-align: center;
}

#decoration {
  width: 100%;
  margin: 0 auto;
  border: none;
}

.delete {
  background-color: #8790d0;
  color: #F2F3F8;
  outline: none;
  height: 45px;
  box-shadow: 2px 2px #888888;
  align-items: center;
}

.add {
  background-color: #6481dd;
  color: #F2F3F8;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  box-shadow: 2px 2px #888888;
  align-items: center;
  margin: 10px;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


.icon img {
  width: 100%;
  height: auto;
} 

li {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.swcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px; 
}

.sicards {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px; 
}

.drcards {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px; 
}

.wich {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}

img {
  width: 347px;
  height: 355px;
  border-radius: 50%;
  margin: 10px 0px;
  border: 2px solid #F4DC46;
}  

.stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#bill{
  background-color: #9CACDC;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
  display: flex;
  width: 230px;
  height: 1000px;
  padding: 10px;
  border-radius: 4px;
  z-index: 2;
  margin: auto;
  position: absolute;
  top: 20px;
  font-size: 15px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

#btnCheckout {
  background-color: #122347;
  box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

/* This class belongs to the bill and is used for targeting the closing of the receipt */
#closeBill {
  display: block;
  text-align: right;
  margin-left: 91%;
  color: #CCC;
  width: 25px;
  height: 24px;
  border: none;
  background-color: #9CACDC;
}

/* This class belongs to the receipt and is used for targeting the closing of the receipt */
#closeReceipt {
  display: block;
  text-align: right;
  margin-left: 95%;
  color: #CCC;
  width: 25px;
  height: 24px;
  border: none;
  background-color: #9CACDC;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
  padding: 0 16px;
}

input[type=text] {
  width: 87%;
  height: 2px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 13px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

#bill{
  background-color: #9CACDC;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
  display: none;
  width: 230px;
  height: 1000px;
  padding: 10px;
  border-radius: 4px;
  z-index: 2;
  margin: auto;
  position: absolute;
  top: 20px;
  font-size: 15px;
  justify-content: center;
  overflow: auto;
}

#receipt{
  background-color: #9CACDC;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
  display: none;
  width: 250px;
  height: 700px;
  padding: 10px;
  border-radius: 4px;
  z-index: 2;
  margin: auto;
  position: absolute;
  top: 20px;
  font-size: 15px;
  justify-content: center;
  overflow: auto;
}
/* This holds the return for change back. */
#changeBack {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* *******************************Media Query****************************************** */

@media only screen and (min-width: 600px) {

.shop {
  display: flex; 
  width: 100%; 
  height: auto; 
  border-radius: 0px; 
  border: 10px double #8790d0;
  align-items: center; 
  justify-content: center; 
  box-shadow: 8px 8px 10px #aaa;
  /* border: 15px solid #3e2b14;
  padding: 10px; */
}

h1 {
   font-size: 200px;
 }

h2 {
  font-size: 80px; 
}

.mission {
  font-size: 40px; 
}

h4 {
   font-size: 50px; 
   border-bottom: double;
 }

.icon_flex {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end; 
  align-items: flex-end;  
}

.witch {
  /* border: 5px solid #F4DC46;  */
  width: 250px; 
  height: 250px; 
  border-radius: 0px; 
  border: none; 
}

.icon {
  display: flex; 
  justify-content: flex-end; 
  align-items: flex-end; 
}

.wich {
  display: inline-block;
  width: 50%;
}

#bill {
  justify-content: flex-end;
}
  
.swcards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.sicards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.drcards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

img {
  margin: 50px;
}

#receipt{
  background-color: #9CACDC;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
  display: none;
  width: 500px;
  height: 700px;
  padding: 10px;
  border-radius: 4px;
  z-index: 2;
  margin: auto;
  position: absolute;
  top: 20px;
  font-size: 15px;
  justify-content: center;
}

}
